/**
*
*
*
*
*
*/

/*  */
.navbar-active {
  background-color: var(--color-black);
  transition: all 0.2s ease;
}
/*  */

@media only screen and (min-width: 740px) {
  .uk-navbar-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* BANNER */
.banner {
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

@media only screen and (min-width: 740px) {
  .banner {
    height: 100vh;
  }
}

.banner .banner-overlay {
  height: 120vh;
  background-color: rgba(22, 22, 22, 0.863);
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (min-width: 740px) {
  .banner .banner-overlay {
    height: 100vh;
  }
}

@media only screen and (min-width: 740px) {
  .banner .banner-overlay {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.banner .banner-overlay h1 {
  color: #f7f7f7;
  font-weight: 400;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.banner .banner-overlay p {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 740px) {
  .banner .banner-overlay h1 {
    font-size: 48px;
    width: 70%;
  }

  .banner .banner-overlay p {
    width: 70%;
  }
}
/* END BANNER */

/* METHODOLOGY */
.home-methodology h1 {
  color: rgba(254, 255, 247, 0.85);
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.home-methodology p.paragraph {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10rem;
}

@media only screen and (min-width: 740px) {
  .home-methodology h1 {
    color: rgba(254, 255, 247, 0.85);
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .home-methodology p.paragraph {
    color: var(--color-white);
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10rem;
  }
}

.home-methodology h3.card-title {
  font-size: 30px;
  color: rgba(254, 255, 247, 0.85);
  margin-top: 1.5rem;
  cursor: default;
}

.home-methodology p.card-paragraph {
  font-size: 20px;
  cursor: default;
}
/* METHODOLOGY */

/* HOW WE DO */
.home-how-we-do h1.title {
  color: rgba(254, 255, 247, 0.85);
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.home-how-we-do p.paragraph {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 300;
}

/* HOW WE DO ---> COMPONENT CARD */
.home-how-we-do .multiple-items div.card {
  position: relative;
  background-color: var(--color-primary);
  height: 600px;
  min-width: 320px;
  cursor: grab;
  user-select: none;
  border-radius: 10px;
}

.home-how-we-do .multiple-items div.card:active {
  cursor: grabbing;
}

.home-how-we-do .multiple-items div.card .solution-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
}

.solution-card .solution-card-header {
  width: 100%;
  height: 94px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.solution-card .solution-card-header .solution-card-img {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solution-card .solution-card-header .solution-card-img img {
  width: 90px;
}

.solution-card .solution-card-body {
  padding-left: 20px;
  padding-right: 20px;
}

.solution-card .solution-card-body h1.title-body {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-black);
}

.solution-card .solution-card-body p.paragraph-body {
  font-size: 17px;
  font-weight: 300;
  color: var(--color-black);
  margin-top: 5px;
  margin-bottom: 0;
}

.solution-card .solution-card-footer {
  padding: 20px;
}

.solution-card .solution-card-footer .solution-card-arrow-left,
.solution-card .solution-card-footer .solution-card-arrow-right {
  font-size: 30px;  
  color: var(--color-black);
}

.solution-card .solution-card-footer .solution-card-arrow-left {
  float: left;
}
.solution-card .solution-card-footer .solution-card-arrow-right {
  float: right;
}

@media only screen and (min-width: 740px) {
  .home-how-we-do .multiple-items div.card {
    margin-top: 5rem;
  }
}
@media only screen and (min-width: 985px) {
  .home-how-we-do .multiple-items div.card {    
    height: 420px;
  }
}
/* END HOW WE DO ---> COMPONENT CARD */
/* END HOW WE DO */

/* HOME LETSWORK */
.home-letswork h1.title {
  color: rgba(254, 255, 247, 0.85);
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.home-letswork p.paragraph {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

@media only screen and (min-width: 740px) {
  .home-letswork p.paragraph {
    margin-top: 5rem;
  }
}

.home-letswork .letswork-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

@media only screen and (min-width: 740px) {
  .home-letswork .letswork-content {
    margin-top: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
  }
}

/* HOME LETSWORK  ----> COMPONENT CARD */
.home-letswork .letswork-card {  
  height: 345px;
  text-align: center;
  background-color: #252527;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 740px) {
  .home-letswork .letswork-card {  
    height: 400px;
  }  
}

@media only screen and (min-width: 740px) {
  .home-letswork .letswork-card {
    width: 275px;
    margin: 5px 2.5px 0 2.5px;
  }
}

@media only screen and (min-width: 1290px) {
  .home-letswork .letswork-card {
    width: 255px;
    height: 450px;
  }
}

.home-letswork .letswork-card .letswork-card-circle {
  width: 30px;
  height: 30px;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: block;
}

.home-letswork .title-letswork-card {
  margin-top: 1rem;
  font-size: 20px;
  color: #FFF;
}

.home-letswork .paragraph-letswork-card {
  font-size: 18px;
  color: rgba(254, 255, 247, 0.85);
}
/* END HOME LETSWORK ----> COMPONENT CARD */
/* END HOME LETSWORK */

/* HOME CTA */
.home-cta h1.title {
  font-size: 50px;
  color: #606160;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 740px) {
  .home-cta h1.title {
    font-size: 80px;
    margin-bottom: 0rem;
  }
}

.cta-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-cta a {
  font-size: 30px;
  font-weight: 400;
  text-decoration: underline;
  text-align: left
}

.home-cta a.cta-saiba {
  color: var(--color-white);
}

.home-cta a.cta-contrate {
  color: var(--color-primary);
}

@media only screen and (min-width: 740px) {
  .home-cta a {
    text-align: right;
    font-size: 40px;
  }
}
/* END HOME CTA */

/* HOME STACK */
.home-stack h1.title {
  font-size: 30px;
  color: rgba(254, 255, 247, 0.85);
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.home-stack .tech-group {
  display: flex;
  flex-direction: column;
}

.home-stack ul {
  padding: 0;
}

.home-stack .tech-group-title {
  font-size: 22px;
  color: #fefff7;
  opacity: .3;
}

@media (min-width: 580px){

  .home-stack ul li {
    display: inline-block;
    margin-left: 20px;
  }
}

@media (min-width: 1023px){
  .home-stack h1.title {
    font-size: 50px;
    text-align: center;
  }
  
  .home-stack .tech-group-title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .home-stack ul {
    text-align: center;
  }
}

/* ========== END HOME STACK ============*/

/* HOME CONTACT */
.home-contact h1.title {
  font-size: 50px;
  color: #606160;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 740px) {
  .home-contact h1.title {
    font-size: 80px;
    margin-bottom: 0rem;
  }
}

.contact-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-contact a {
  font-size: 30px;
  font-weight: 400;
  text-decoration: underline;
  color: var(--color-primary);
  text-align: left;
}

@media only screen and (min-width: 740px) {
  .home-contact a {
    text-align: right;
    font-size: 42px;
  }
}

@media only screen and (min-width: 740px) {
  .home-contact a {
    font-size: 40px;
  }
}

.home-contact p.paragraph {
  color: var(--color-white);
  font-size: 30px;
  font-weight: 300;
}

@media only screen and (min-width: 740px) {
  .home-contact p.paragraph {
    margin-top: 5rem;
  }
}
/* HOME CONTACT */

/* HOME FOOTER */
.home-footer {
  padding-top: 30rem;
  padding-bottom: 20px;
}

.home-footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-footer .home-footer-contact-email {
  font-size: 25px;
  font-weight: 100;
  color: #606160;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 740px) {
  .home-footer .home-footer-contact-email {
    font-size: 42px;
  }
}

.home-footer .address {
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  color: #606160;
}

.home-footer-social {
  padding-left: 0;
  text-align: center;
}

@media only screen and (min-width: 740px) {
  .home-footer-social {
    text-align: right;
  }
}

.home-footer-social li {
  display: inline-block;
}

.home-footer-social img {
  width: 48px;
}

@media only screen and (min-width: 740px) {
  .home-footer-social img {
    width: 70px;
  }
}
/* END HOME FOOTER */